obj/
bin/
StyleCop.Cache
*.sln.DotSettings.user
packages/
Files/Customer/**

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.pubxml.user
*.publishproj
/sln/.vs/DigiAeon.EvilApiClient
/DigiAeon.EvilApiClient.UI/DigiAeon.EvilApiClient.UI.csproj.user
/.vs/DigiAeon.EvilApiClient/v17
